.quote__content {
    max-width: 51rem;
    margin: 4.5rem auto;
    padding: 0 6.25rem;
    font-family: raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: #000000;

    border-left: 8px solid #F7DF94;
}

.quote__author {
    display: flex;
    justify-content: space-between;
    max-width: 42rem;
    margin: 0 auto;
    padding: 2rem 2rem;
    cursor: pointer;
}

.quote__author-detail__name {
    font-family: raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #4F4F4F;
}

.quote__author-detail__genre  {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1rem;
    color: #828282;
}

.quote__author-icon {
    visibility: hidden;
}

.quote__author-icon > span {
    line-height: 2.75rem;
}

.quote__author:hover {
    background-color: #333;
}

.quote__author:hover .quote__author-detail__name {
    color: #f2f2f2;
}

.quote__author:hover .quote__author-icon {
    visibility: visible;
    color: #f2f2f2;
}

@media (max-width: 768px) {
    .quote__content {
        padding-left: 6.25rem;
        padding-right: 0;
    }
}