<h3>Buttons</h3>
<div class="flex-container">
  <div class="flex-item">
    <p class="example-description">&lt;Button /&gt;</p>
    <app-button>Default</app-button>
  </div>
</div>

<div class="flex-container">
  <div class="flex-item">
    <p class="example-description">&lt;Button variant="outline" /&gt;</p>
    <app-button variant="outline">Outline Button</app-button>
  </div>
</div>

<div class="flex-container">
  <div class="flex-item">
    <p class="example-description">&lt;Button variant="text" /&gt;</p>
    <app-button variant="text">Text button</app-button>
  </div>
</div>

<div class="flex-container">
  <div class="flex-item">
    <p class="example-description">&lt;Button disableShadow="true" /&gt;</p>
    <app-button [disableShadow]=true>disable shadow</app-button>
  </div>
</div>

<div class="flex-container">
  <div class="flex-item">
    <p class="example-description">&lt;Button disabled="true" /&gt;</p>
    <app-button color="default" [disabled]=true>disabled</app-button>
  </div>
  <div class="flex-item">
    <p class="example-description">&lt;Button variant="text" disabled="true" /&gt;</p>
    <app-button variant="text" [disabled]=true>disabled</app-button>
  </div>
</div>

<div class="flex-container">
  <div class="flex-item">
    <p class="example-description">&lt;Button startIcon="local_grocery_store" /&gt;</p>
    <app-button color="primary" startIcon="local_grocery_store">startIcon</app-button>
  </div>
  <div class="flex-item">
    <p class="example-description">&lt;Button endIcon="local_grocery_store" /&gt;</p>
    <app-button color="primary" endIcon="local_grocery_store">endIcon</app-button>
  </div>
</div>

<div class="flex-container">
  <div class="flex-item">
    <p class="example-description">&lt;Button size="sm" /&gt;</p>
    <app-button size="sm">Small</app-button>
  </div>
  <div class="flex-item">
    <p class="example-description">&lt;Button size="md" /&gt;</p>
    <app-button>Medium</app-button>
  </div>
  <div class="flex-item">
    <p class="example-description">&lt;Button size="lg" /&gt;</p>
    <app-button size="lg">Large</app-button>
  </div>
</div>

<div class="flex-container">
  <div class="flex-item">
    <p class="example-description">&lt;Button color="default" /&gt;</p>
    <app-button>Default</app-button>
  </div>
  <div class="flex-item">
    <p class="example-description">&lt;Button color="primary" /&gt;</p>
    <app-button color="primary">Primary</app-button>
  </div>
  <div class="flex-item">
    <p class="example-description">&lt;Button color="secondary" /&gt;</p>
    <app-button color="secondary">Secondary</app-button>
  </div>
  <div class="flex-item">
    <p class="example-description">&lt;Button color="danger" /&gt;</p>
    <app-button color="danger">Danger</app-button>
  </div>
</div>
<footer>
  <p>created by <b>mohitkh7</b></p>
</footer>