<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<base href="/">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
		{% block head %}
		<title>Image Uploader</title>
		{% endblock %}
	</head>
	<body>
		<section class="container">
			<main>
				{% block content %}
				{% endblock %}
			</main>
			{% block footer %}
			<footer>
				<p>created by <b><u>Mohit Khandelwal</u></b></p>
			</footer>
			{% endblock %}
		</section>
	</body>
</html>
