/* You can add global styles to this file, and also import other style files */
:root {
    --white1: #ffffff;
    --gray2: #4f4f4f;
    --gray3: #828282;
    --gray4: #bdbdbd;
    --gray6: #f2f2f2;
    --blue1: #2f80ed;
}

body {
    background: #fafafa;
    font-family: montserrat, sans-serif, arial;
}