body {
    font-family: "Poppins", sans-serif;
    margin: 0 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: Inconsolate, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -0.08rem;
    text-transform: uppercase;
    color: #333;
}

.scarecrow-img {
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content .img-section {
    flex: 1;
    align-self: center;
}

.content .text-section {
    flex: 1;
    padding-right: 80px;
}

.btn {
    background-color: #333;
    color: #fff;
    font-family: "Space Mono", monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    padding: 1.6vw 2vw;
    cursor: pointer;
}

.main-text {
    font-family: "Space Mono", monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    color: #333;
    margin-bottom: 0px;
}

.sub-text {
    font-family: "Space mono", monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: -0.035em;
    color: #4f4f4f;
    padding-right: 150px;
}

.footer {
    min-height: 50px;
    margin-top: auto;
}

.footer p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: #bdbdbd;
}

/* Responsive layout */
@media (max-width: 800px) {
    .content {
        flex-direction: column;
    }

    .content .text-section {
        padding-right: 0px;
    }

    .content .text-section .main-text {
        font-size: 48px;
        margin-bottom: 10px;
    }

    .content .text-section .sub-text {
        font-size: 18px;
        padding-right: 0px;
    }
}
