<div class="container">
    <main class="main-container">
        <div class="temp-btn-container">
            <button class="round-btn temp-btn" [class.temp-btn--active]="tempUnit == TemperatureUnit.CELSIUS" (click)="changeTemperatureUnit(TemperatureUnit.CELSIUS)">&deg;C</button>
            <button class="round-btn temp-btn" [class.temp-btn--active]="tempUnit == TemperatureUnit.FAHRENHEIT" (click)="changeTemperatureUnit(TemperatureUnit.FAHRENHEIT)">&deg;F</button>
        </div>
        <app-future-container></app-future-container>
        <app-stats-container></app-stats-container>
    </main>
    <footer>
        <p>created by @mohitkh7</p>
    </footer>
</div>