.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

main {
    flex: 0 0 auto;
}
footer {
    min-height: 30px;
    margin-top: auto;
}

footer p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: #bdbdbd;
}