<main>
    <div class="search p-sm-5 p-4">
        <div class="col-md-4 col-sm-6 col-8">
            <img src="assets/CatwikiLogo.svg" class="img img-fluid filter-white search__logo" />
            <p class="search__para">Get to know more about your breed</p>
            <div class="ng-autocomplete">
                <ng-autocomplete 
                  [data]="breedList"
                  [searchKeyword]="keyword"
                  [placeholder]="'Search breed'"
                  (selected)='selectEvent($event)'
                  [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate">                                 
                </ng-autocomplete>
                
                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                </ng-template>
                
                <ng-template #notFoundTemplate let-notFound>
                    <div>No breed found</div>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="breeds p-sm-5 p-4">
        <div class="breeds__top">
            Most Searched Breeds
        </div>
        <div class="h-bar"></div>
        <div class="breeds__header d-flex align-items-end mb-4">
            <div class="col-sm-6 col-8">
                <h2 class="breeds__title display-5">66+ breeds for you to discover</h2>
            </div>
            <div class="col-sm-6 col-4 d-none d-sm-none d-md-block text-end">
                <p class="link"><b class="clickable" routerLink="/list">SEE MORE &rarr;</b></p>
            </div>

        </div>
        <div class="breeds_list row align-items-end">
            <div class="cat clickable col-md-3 col-6" [routerLink]="['/detail', breed.name]" *ngFor="let breed of breedList | filterTop: 4">
                <img src="{{ breed.image?.url }}" class="img img-fluid img--round cat__image" alt="image of {{breed.name}} breed cat" />
                <p class="cat__name">{{ breed.name }}</p>
            </div>
            <!-- loading placeholder -->
            <ng-container  *ngIf="breedList.length == 0">
                <div class="cat--placeholder col-md-3 col-6" *ngFor="let breed of [1, 2, 3, 4]">
                    <div class="img img-fluid cat__image--placeholder loading" style="height: 8rem"></div>
                    <p class="cat__name--placeholder mt-3 loading" style="width: 60%; height: 1.5rem"></p>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="description px-sm-5 px-4 row mt-5 align-items-center">
        <div class="col-md-5">
            <div class="h-bar"></div>
            <p class="description__title display-5">Why should you have a cat ?</p>
            <p class="description__text my-5">Having a cat around you can actually trigger the release of calming
                chemicals in your body which lower your stress and anxiety leves</p>
            <p class="description__link link"><b class="clickable" routerLink="/list">View all breeds &rarr;</b></p>
        </div>
        <div class="description__images col-md-6 offset-md-1 mt-md-0 mt-4">
            <img src="assets/image 2.png" class="img img-fluid" alt="cat in hand"/>
            <img src="assets/image 1.png" class="img img-fluid" alt="person holding a cat"/>
            <img src="assets/image 3.png" class="img img-fluid" alt="cat looking from glass windows"/>
        </div>
    </div>
</main>

