<div class="card-container">
    <div class="text-center">
        <!-- loading state -->
        <h3 *ngIf="state == STATE.LOADING">
            <i class="fa fa-spinner fa-spin"></i>
        </h3>
        <!-- error state -->
        <p class="text-danger" *ngIf="state == STATE.ERROR">
            Unable to fetch job details at the moment. Please try again later.
        </p>
        <!-- no records found error -->
        <div *ngIf="state == STATE.EMPTY">
            <h3 class="text-danger">No jobs found</h3>
        </div>
    </div>
    <!-- success state -->
    <div class="card mb-3 shadow-sm" [routerLink]="['/details', job.id]" 
        *ngFor="let job of jobsList | paginate: { itemsPerPage: 5, currentPage: pageIndex}">
        <div class="card-body job__body">
            <div class="row">
                <div class="col-4 col-md-2">
                    <img *ngIf="job.company_logo" class="img-fluid" src="{{ job.company_logo }}" />
                    <div *ngIf="!job.company_logo" class="img-placeholder">not found</div>
                </div>
                <div class="col-8 col-md-6 job__detail">
                    <div class="job__company">{{ job.company }}</div>
                    <div class="job__title">{{ job.title }}</div>
                    <div class="job__labels">
                        <div class="label" *ngIf="job.type == 'Full Time'">Full time</div>
                    </div>
                </div>
                <div class="col-12 col-md-4 text-end d-flex flex-column justify-content-end">
                    <div class="job__sub-detail">
                        <span class="job__location me-4">
                            <i class="fa fa-globe"></i>&nbsp; {{ job.location }}
                        </span>
                        <span class="job__time">
                            <i class="fa fa-clock-o"></i>&nbsp; {{ job.created_at | daysAgo }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pagination-container">
    <pagination-controls 
        (pageChange)="pageIndex = $event"
        [responsive]="true"
        [autoHide]="true"
        [maxSize]="5"
        [previousLabel]="''"
        [nextLabel]="''">
    </pagination-controls>
</div>