:root {
    --white1: #ffffff;
    --gray2: #4f4f4f;
    --gray3: #828282;
    --gray4: #bdbdbd;
    --gray6: #f2f2f2;
    --blue1: #2f80ed;
    --red1: #ed4337;
}

body {
    background: #fafafa;
    font-family: montserrat, sans-serif, arial;
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr auto;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    font-size: .875rem;
    text-align: center;
    color: #a9a9a9;
}

.card {
    width: 400px;
    padding: 2rem;
    background: var(--white1);
    box-shadow: 0px .25rem .75rem rgba(0, 0, 0, 0.1);
    border-radius: .75rem;
}

.upload {
    text-align: center;
}

.title {
    color: var(--gray2);
}

.upload>p {
    font-size: .625rem;
    color: var(--gray3);
}

.drag-n-drop {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    background: #f6f8fb;
    border: 2px dashed #97bef4;
    border-radius: .75rem;
}

.drag-n-drop:hover {
    border: 2px solid #97bef4;
}

button {
    border: none;
}

.btn {
    padding: .5rem 1rem;
    background: var(--blue1);
    color: var(--white1);
    border-radius: .5rem;
    cursor: pointer;
}

.btn:active {
    transform: translateY(1px);
}

.upload-form{
    display: flex; 
    justify-content: center; 
    gap: 2px; 
    margin-top: 2rem;
}

.success {
    text-align: center;
}

.success__icon {
    color: #219653;
    font-size: 3rem;
}

.image-url {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.5rem 0;
    align-items: center;
    background: #f6f8f8;
    border: 1px solid #e0e0e0;
    border-radius: .5rem;
}

.image-url__text {
    // flex: 1 1 70%;
    padding: .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .75rem;
    color: var(--gray2);
    letter-spacing: -0.035em;
}

.image-url__copy {
    padding: 1px;
}

.fail {
    text-align: center;
}

.fail__icon {
    font-size: 3rem;
    color: var(--red1);
}

.img {
    max-width: 100%;
    height: auto;
}

.fail__msg {
    color: var(--red1);
}