.input-group {
    display: flex;
    flex-direction: column;
    font-family: "Noto Sans JP", poppins, sans-serif;
}

.label {
    order: -1;
    font-size: .75rem;
    color: var(--gray1);
}

input {
    border: none;
    outline: none;
}

.input {
    display: flex;
    max-width: 220px;
    border: 1px solid var(--gray3);
    border-radius: .5em;
    margin: .25rem 0;
    padding: 1.125em .75em;
    font-size: .875em;
    line-height: 1.25em;
    color: var(--gray3);
}

.input > input {
    flex: 1;
}

.input:hover {
    border: 1px solid var(--gray1);
}

.input:focus-within {
    border: 1px solid var(--blue1);
    outline: none;
}

.input:focus-within ~ div {
    color: var(--blue1);
}

.help-text {
    font-size: .675em;
    line-height: .875em;
    color: var(--gray3);
}

/* Style for error state */
.input.has-error {
    border: 1px solid var(--red1); 
}
.input.has-error ~ div {
    color: var(--red1); 
}

/* Style for various sizes */
.size-sm {
    padding: .675em .75em;
}

/* Styles for icons */
.inline-icon {
    vertical-align: middle;
    font-size: 1em;
}

.start-icon {
    padding-right: 1em;
}

.end-icon {
    padding-left: 1em;
}

/* style for disabled state */
.input.disabled {
    background: var(--gray6);
    border: 1px solid var(--gray5);
}

.input.full-width {
    max-width: 100%;
}

textarea {
    border: none;
    outline: none;
    width: 100%;
}